html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    flex-flow: column;
}

h1 {
    font-size: 72px !important;
    font-weight: 600 !important;
}

h3 {
    font-size: 36px !important;
}

.z-front {
    z-index: 10000;
}

.nav-link{
    font-size: 28px;
    font-weight: 500px !important;
    font-style: normal !important;
    color: white !important;
}

.bg-home{
    background-image: url("/photos/home-bg.png");
    background-size: cover;
}

.bg-about{
    background-image: url("photos/about-bg.jpg.png");
    background-size: cover;
}

.bg-work{
    background-color: black;
}

.bg-contact{
    background-image: url("photos/contact-bg.png");
    background-size: cover;
}

.container-fluid {
    padding-left: 3rem;
    padding-right: 3rem;
}

#home .container {
    margin-left: 4rem;
}

#ourwork .images > div {
    width: calc(100% / 3);
}

.text-copy{
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
}

.justify-content-even {
    justify-content: space-evenly;
}

.ave{
    width: 400px;
}

.my-30{
    margin-top: 30px;
    margin-bottom: 31px;
}

.bg-black-15{
    background: rgba(0, 0, 0, 0.15);
}

.h-1080{
    height: 1080px;
}

.text-yellow{
    color: #F6C214;
}

.text-white{
    color: white;
}

.p-4r{
    padding-left: 4rem;
}

.spin {
    animation: spin infinite 10s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    } 100% {
        transform: rotate(360deg);
    }
}

.footer .container {
    display: flex;
}

@media (max-width: 768px) {
    #ourwork .images > div {
        width: 100%;
    }

    .nav-link{
        font-size: 18px;
        font-weight: 500px !important;
        line-height: auto;
        font-style: normal !important;
        color: white !important;
        text-align: center;
    }

    h1 {
        font-size: 52px;
    }

    h3 {
        font-size: 16px;
    }

    .footer .container {
        flex-direction:column;
    }

    .ave {
        width: 100%;
    }
}
